.Panel {
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;

  & + .Panel {
    margin-top: 8px;
  }
}

.Button {
  display: block;
  border: none;
  background: none;
  font-size: 24px;

  height: 32px;
  width: 32px;
  line-height: 32px;

  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: #ddd;
  }

  & + .Button {
    border-top: 1px solid #ddd;
  }
}
